:root {
  --main-color: rgb(33, 150, 243, 1);
  --first-logo: rgb(0, 0, 0, 1);
  --corporation-color: rgb(33, 33, 33, 1);
  --scroll-text: rgb(117, 117, 117, 1);
  --main-light: rgb(255, 255, 255, 1);
  --main-light-op-60: rgba(255, 255, 255, 60%);
  --head-footer-background: rgb(47, 48, 58, 1);
  --team-background: rgb(245, 244, 250, 1);
}
.body{
  font-family: 'Roboto',sans-serif ;
  font-weight: 700;
}
.container{
  margin-left: auto;
  margin-right: auto;
  
  width: 1200px;
  padding: 0 15px;
  border: 1px solid red;
   
}
.container-header
{
  margin-left: auto;
  margin-right: auto;
width: 1200px;
  padding: 0 15px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;

  

}
.logo{
  display: flex;
  width: max-content;
  margin-right:  93px ;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;

}

.nav-list{
  display: flex;
  max-width: min-content;
  margin: 0 0 0 0px;
  padding-left: 0px;
}
.logo,
.nav-list{
  display: inline-flex;
  align-items: center;
}
.nav-list li{
  margin-right: 52px;
}


.address{
display: flex;
 align-items: center;
 padding-left: 0px;
 margin: 0px;
}
.address li{
  margin-left: 54px;
}


  




ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.header {
  background-color: var(--main-light);
  
}

.logo-blue {
  color: var(--main-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 30, 52px;
  letter-spacing: 0.03;
}

.logo-blue,.logo-black:hover,
:focus {
  color: var(--main-color);
  background-color: transparent;
}


.logo-black {
  color: var(--first-logo);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.292;
  letter-spacing: 0.03;
}
.list {
  color: var(--corporation-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0, 02;
}
.list:hover,
:focus {
  color: var(--blue-text);
}

.list-address {
  color: var(--scroll-text);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0, 02;
}

.list-address:hover,
:focus {
  color: var(--main-color);
  background-color: transparent;

}
.head {
  background-color: var(--head-footer-background);
}


.hero {
  color: var(--main-light);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0, 04;
  margin: 0px;
 
  
}
.hero{
  display: inline-flex;
  width: 1200px;
padding-top: 211px;
 padding-bottom: 0px;
 padding-left: 0px;
 padding-right: 0px;
 margin: 0px;
 text-align: center;
 justify-content: center;
}

.cars-projects{
  display:inline-block;
}


.button{
  color: var(--main-light);
  background-color: var(--main-color);
  
  font-size: 16;
  line-height: 30px;
  letter-spacing: 0, 02;
  cursor: pointer;
  display: flex;
  background-color: transparent;
}




.button-l{
  display: inline-flex;
  padding-top: 45px;
  padding-bottom: 250px;
  padding-left: 500px;
  padding-right: 501px;
  width: max-content;
  margin: 0px;
  
  display: flex;
  align-items: center;
  
}
 
.button:hover,
:focus {
  color: var(--main-color);
  background-color: transparent;
}
.scroll-container{
  display:flex;
 
}
  
 

.scrolls{
  display: inline-flex;
  width: min-content;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 97px;
  padding-bottom: 104px;
  margin: 0px;
  
   
}
.scrolls li{
  width: 270px;
  margin-right: 33px;
  
}
.scrolls li:last-child{
  padding-right: 0px;
}
.scroll-title {
  color: var(--corporation-color);
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0, 02;
}
.scroll-indent {
  color: var(--scroll-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0, 03;
}
.heading {
  color: var(--corporation-color);
  font-size: 36px;
  line-height: 42.19px;
  letter-spacing: 0, 05;
  

  
}
.heading{
  display: flex;
  align-items: center;

 width: max-content;
 padding-top: 0px;
 padding-bottom: 59px;
 padding-left: 415px;
 padding-right: 414px;
 margin: 0px;
 justify-content:center;
}
.images{
  display: flex;
  padding: 0px 0px 94px 0px;
  margin: 0px;
  justify-content:space-between;
}
.images li{
  margin-right: 30px;
}
.images li:last-child {
  margin-right: 0;
}
.heading-team{
  color: var(--black-text);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
  letter-spacing: 0, 05;
}
.heading-team{
  display: flex;
  align-items: center;
width: max-content;
 padding-top: 54px;
 padding-bottom: 50px;
 padding-left: 471px;
 padding-right: 470px;
 margin: 0px;
 justify-content:center;
}
.cards{
  display: flex;
  margin: 0px;
  padding: 0px 0px 93px 0px;
  justify-content: space-between;
  text-align: center;
  
}
.cards li{
  margin-right: 30px;
}
.cards li:last-child {
  margin-right: 0px;

}

.team {
  background-color: var(--team-background);
}
.name {
  color: var(--corporation-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 18, 75px;
  letter-spacing: 0, 03;
}
.name{
  display: flex;
  margin: 0px;
  padding-top: 33px;
  padding-bottom: 13px;
text-align: center;
justify-content: center;
}
.vocation {
  margin: 0px;
  

}
  

  

.vocation {
  color: var(--scroll-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 18, 75px;
  letter-spacing: 0, 03;
}

.button-list {
  color: var(--corporation-color);
  background-color: var(--main-light);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0, 03;
  
}
.button-list:hover,
:focus {
  color: var(--main-color);
  background-color:transparent;
}

.projects {
  color: var(--black-text);
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0, 02;
}
.projects-list{
  display:flex;
  margin: 0px;
  padding: 95px 295px 50px 295px;
  
}
.projects-list li{
  display: flex;
  margin-left: 8px;
  
}

.list-title {
  color: var(--scroll-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0, 04;
}

.cars-projects{
  display: inline-block;
  width: fit-content;
  margin: 0px;
  padding: 0px;
  
}
.card-projects-list{
display: inline-flex;
text-align: center;
}
.card-projects .li{
  margin-right: 30px;
}
.projects{
  margin: 0px;
  padding: 31px 0px 24px 0px;
}
.images-card{
  margin-right: 30px;
  justify-content: space-between;
}
.images-card-last{
  margin: 0px;
}
.list-title{
  margin: 0px;
  padding: 0px;
  padding-bottom: 60px;
}
.list-title-footer{
  padding-bottom: 120px;
  margin: 0px;
}
.footer {
  background-color: var(--head-footer-background);
}

.footer-logo{
  display: block;
  margin: 0px;
padding: 66px 0px 28px 0px;
}
.logo-white {
  color: var(--main-light);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 30, 52px;
  letter-spacing: 0, 03;
}
address {
  font-style: normal;
  display: block;
  margin: 0px;
  padding-bottom: 0px;
}
.address-city {
  color: var(--main-light);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0, 03;
  margin: 0px;
  padding-bottom: 22px;
}
.address-link {
  color: var(--main-light-op-60);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0, 03;
  display: block;
  margin: 0px;
  padding-bottom: 19px;
}
.link-address{
  display: block;
  margin: 0px;
  text-align: left;
  padding-left: 0px;

}
.address-link:hover, 
  :focus{
color: var(--main-color);
  background-color: transparent;
}
.link-address li:last-child{
  padding-bottom: 65px;
}
